.auth_alerts{
	margin-top: 30px;
  	margin-left: 10px;
  	margin-right: 10px;
}

.label-staatmaker {
  background-color: #3399FF;
}

.label-offisier {
  background-color: #FF1919;
}

.label-verkenner {
	background-color: #005C1F;
}

.label-pd {
	background-color: #FF6600;
}

.label-ouer {
	background-color: #808080;
}

.label-heemraad {
	background-color: #D1A319;
}

.label-voorskool {
	background-color: #9966FF;
}

.bg-red-pink {
  background-color: #FF8282 !important;
}

.bg-blueish {
  background-color: #7094FF !important;
}

.bg-unchecked-grey {
	background-color: #B2B2B2 !important;
}

.max-width-100 {
    max-width: 100%;
}